body {
  background-image: url(broken_noise.png);
  margin: 0 auto;
  padding: 80px 0 0;
  color: #777;
  font-family: Georgia, serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.80);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 16px;
  /*text-shadow: 0 0 20px #fcaf3e;*/
  display: inline;
  height: 80px;
  line-height: 80px;
}

nav {
  display: inline;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 40px;
}

nav a {
  font-size: 20px;
  height: 40px;
  color: #888a85;
  line-height: 40px;
  text-decoration: none;
}

nav a:hover {
  color: #d3d7cf;
}

section {
  display: none;
  margin-top: 20px;
}

.suite {
  margin: 0 10px 10px 0;
  position: relative;
  float: left;
}

.suite button {
  height: 30px;
  width: 100px;
  margin: 0 0 10px;
  background-color: #babdb6;
  color: #222;
  border: none;
  padding: none;
  /*text-transform: uppercase;*/
  text-shadow: 1px 1px 2px #bbb;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
}

.suite button:hover {
  background-color: #d3d7cf;
}

.suite button:disabled {
  color: #888a85;
  background-color: #babdb6;
}

.result {
  position: relative;
  height: 30px;
  width: 290px;
  background-color: rgba(0, 0, 0, 0.30);
  margin-bottom: 2px;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 0;
}

.label {
  position: absolute;
  left: 7px;
  line-height: 30px;
  font-size: 14px;
  color: #bbb;
}

.spec-result {
  width: 600px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.pass {
  color: #4e9a06;
}

.pass::before {
  content: '✓';
  margin: 0 10px;
}

.fail, .error {
  color: #a40000;
}

.fail::before, .error::before {
  content: '✖';
  margin: 0 10px;
}

h1, h2 {
  color: #fff;
  font-size: 24px;
  margin: 0 0 12px;
}

p {
  font-size: 18px;
  line-height: 24px;
}

section a {
  color: #f57900;
}

section a:visited {
  color: #ce5c00;
}
